{
  "extends": "airbnb",
  "ecmaFeatures" : {
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "max-len": [1, 120, 2, {
      "ignoreComments": true
    }],
    "new-cap": [0],
    "no-unused-expressions": [0]
  },
  "env": {
      "browser": true,
      "mocha": true
  },
  "globals": {
    "FIREBASE_ID": true,
    "assert": true,
    "expect": true
  }
}
