lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

.idea

dist/app*
dist/*.svg
dist/*.ttf
dist/*.hot-update.js
dist/*.hot-update.js.map
dist/*.hot-update.json

firebase.json
