body {
  padding: 0;
  margin: 0;
}

.form-holder {
  background: rgba(255,255,255,0.2);
  margin-top: 10%;
  border-radius: 3px;
}

.form-head {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 15px auto 30px auto;
}

.column {
    padding: 0.5em!important;
}

.ui.selection.list>.item {
  padding: .2em;
  color: rgba(0,0,0,.7);
}

h5.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: right;
}

.ui.header {
  margin-bottom: 0.5em;
}

.ui.header .icon {
  font-size: 0.8em;
  margin-right: 0px!important;
}

.ui.header .button {
  display: none;
  padding: 0.4em;
}

.board-section:hover .ui.header .button {
  display: block;
}

.ui.celled.grid .column {
  border-bottom: 1px solid #d4d4d5;
}

.board-section button {
  float: right;
}

.label.dev {
  background-color: #21ba45!important;
  border-color: #21ba45!important;
  color: #fff!important;
}
.label.qa {
  background-color: #fbbd08!important;
  border-color: #fbbd08!important;
  color: #fff!important;
}
.label.bug {
  background-color: #db2828!important;
  border-color: #db2828!important;
  color: #fff!important;
}
.label.doc {
  background-color: #2185d0!important;
  border-color: #2185d0!important;
  color: #fff!important;
}

.board-section {
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.red-target {
  border: 1px dashed rgb(255, 138, 138);
  background-color: rgba(255, 138, 138, 0.4);
}

.green-target {
  border: 1px dashed #18B918;
  background-color: rgba(24, 185, 24, 0.21);
}

.yellow-target {
  border: 1px dashed #9A9A9A;
}

.archive {
  color: rgba(0,0,0, .50);
}

.archive:hover {
  cursor: pointer;
  color: rgba(0,0,0, .99);
}
