body {
  padding: 0;
  margin: 0;
}

body > #container {
  height: 100%;
}

#container > .grid {
  height: 100%;
}

.form-head {
  font-size: 30px;
  letter-spacing: 2px;
}

.column {
  padding: 0.3rem!important;
}

.ui.selection.list>.item {
  padding: .3rem;
  color: rgba(0,0,0,.7);
}

h5.ui.header {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}

.ui.header {
  margin-bottom: 0.5em;
}

.ui.header .icon {
  font-size: 0.8em;
  margin-right: 0px!important;
}

.ui.header .button {
  display: none;
  padding: 0.4em;
}

.ui.block.header {
  padding: .4rem .6rem;
  box-shadow: none;
  border: none;
}

.board-section:hover .ui.header .button {
  display: block;
}

.board-section button {
  float: right;
}

.red-target {
  border: 1px dashed rgb(255, 138, 138);
  background-color: rgba(255, 138, 138, 0.4);
}

.green-target {
  border: 1px dashed #18B918;
  background-color: rgba(24, 185, 24, 0.21);
}

.yellow-target {
  border: 1px dashed #9A9A9A;
}

.ui.modal .actions > .button {
  margin-left: .25em;
}

.ui.empty.circular.label {
  margin-right: 0.25rem;
}

.ui.modal > .ui.form {
  padding: 0 15px 20px;
}

.ui.empty.circular.label {
  margin-left: 0rem;
}

.adapted.icon.button {
  padding: 0.4em;
  float: right;
}

.adapted.icon.button>.icon {
  font-size: 0.8em;
  margin-right: 0px!important;
}

.ui.vertical.menu>.item {
  padding-left: 0;
  padding-right: 0;
  word-wrap: break-word;
}

.ui.vertical.menu>.item>h4 {
  padding-left: 13px;
  padding-right: 13px;
}

.ui.vertical.menu .list>.item {
  padding: 6px 13px 6px 13px;
}

.ui.vertical.menu {
  width: 20rem;
}

.ui.divider {
  text-transform: none;
}

.ui.celled.grid {
  border-bottom: 1px solid #d4d4d5;
}